body{
    background-color: #0b012e; 
    color: white;
}
@media (max-width: 576px) {
    .card img {
        height: 150px;
        object-fit: cover;
    }

    .card-title {
        font-size: 14px;
    }

    .card {
        margin: 5px;
    }
}